{% layout "layout.liquid" %} {% block content %}

<a href="/products/new"><button>Enter New Product</button></a>
    <div>
        {%for product in products %}
        <h2>{{product.name}}</h2>
        <a href="/products/{{product.id}}"><img src={{product.img}}></a>
        <p>{{product.description}}</p>
        <p>Price: {{product.price}}</p>
        <p>Quantity: {{product.qty}}</p>
        {%endfor%}
    </div>

{% endblock %}