{% layout "layout.liquid" %} {% block content %}
<div class="flex">
  <!--! Container -->
  <div
    class="flex w-full justify-around bg-slate-600 m-5 p-5 container rounded-lg"
  >
    <div class="flex flex-col">
      <h1
        class="text-6xl text-white bg-slate-400 rounded-xl px-6 py-1 pb-4 mb-4 text-center"
      >
        {{ product.name }}
      </h1>
      <div
        class="border-solid border-2 border-slate-600 p-4 rounded-3xl shadow-2xl shadow-slate-800 bg-white"
      >
        <img class="w-96 h-96" src="{{ product.img }}" alt="" />
        <h2 class="mb-2 text-center">{{ product.description }}</h2>
        <h2 class="text-center mb-6">Price: ${{ product.price }}</h2>
        <h2 class="text-center mb-2 text-blue-400 text-2xl">
          {{ product.qty }} remaining
        </h2>
        <a href="" class="self-center"
          ><button class="px-4 py-1 bg-blue-500 text-white w-full mt-4">
            BUY
          </button></a
        >
      </div>
      <div class="flex gap-x-6 justify-center">
        <form action="/products/{{product_id}}">
          <input type="submit" value="Update"
            class="flex justify-center gap-x-2 items-center bg-blue-400 text-white mt-5 w-52 rounded-md h-10 hover:bg-blue-300 cursor-pointer"
          >
          </input>
        </form>
        <form action="/products/{{product._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete"
              class="flex justify-center gap-x-2 items-center bg-red-500 text-white mt-5 w-52 rounded-md h-10 hover:bg-red-400 cursor-pointer"
            >
            </input>
          </form>
      </div>
    </div>
  </div>
  <!--! End of Container -->
</div>
{% endblock %}
