{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/store/{{products._id}}?_method=PUT" method="POST">
    <fieldset>
      <legend>Edit {{products.name}}</legend>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="enter  name"
          value="{{products.name}}"
        />
      </label>
      <label >
      Price:<input
          type="text"
          name="price"
          placeholder="enter "
          value="{{products.price}}"
    />
    <label >
      Quanity:<input
          type="text"
          name="qty"
          placeholder="enter "
          value="{{products.qty}}"
    />
    </fieldset>
    <input type="submit" value="Edit {{products.name}}" />
  </form>
</div>
{% endblock %}