{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/store/{{._id}}?_method=PUT" method="post">
    <fieldset>
      <legend>Edit {{newProduct.name}}</legend>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="enter fruit name"
          value="{{newProduct.name}}"
        />
      </label>
      <label>
        COLOR:<input
          type="text"
          name="color"
          placeholder="enter fruit name"
          value="{{newProduct.color}}"
        />
      </label>
    </fieldset>
    <input type="submit" value="Edit {{newProduct.name}}" />
  </form>
</div>
{% endblock %}