{% layout "layout.liquid" %} {% block content %}
      <div>
        <article>
          <h2>
            {{ p.name }} -
                {% if p.qty <= 0 %} OUT OF STOCK {% else %} {{p.qty}} remaining 
                  {% comment %} TODO: {% endcomment %}
                  <br/>
                  <a href="/products"><button>BUY IT +1</button></a>
                {% endif %}
          </h2>
          <img src="{{p.img}}" alt="{{p.name}}">
          <h3>$Price$: {{ p.price }}</h3>
          <h3>{{p.description}}</h3>
          <a href="/products/{{ p._id }}/edit"><button>Edit</button></a>
          <form action="/products/{{ p._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
          </form>
          <a href="/products/"><button>Back to Main Page</button></a>
        </article>
      </div>
{% endblock %}
