{% layout 'layout.liquid' %}
{% block content %}
<nav>
    <a href="/store"><button>Back to Store</button></a>
    <a href="/store/{{item._id}}/edit"><button>Edit this Item</button></a>
    <form action="/store/{{item._id}}/?_method=DELETE" method="POST"><input type="Submit" value="Delete this Item"></form>
</nav>

{% if item.qty == 0 %}

<div style="opacity:.5;">
    <h2>{{item.name}}</h2>
    <img src="{{item.img}}" alt="">
    <h3>Price: {{item.price}}</h3>
    <h3>OUT OF STOCK.</h3>
</div>

{% else %}
<div>
    <h2>{{item.name}}</h2>
    <img src="{{item.img}}" alt="">
    <h3>Price: {{item.price}}</h3>
    <h3>Quantity: {{item.qty}}</h3>
    <form action="/store/{{item._id}}" method="POST">
        <input type="submit" value="Buy Now!">
    </form>
</div>
{% endif%}
{% endblock %}