<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update a Product</h1>
        <a href="/products/"><button type="button">Back</button></a>
        <form action="/products/{{product._id}}?_method=PUT" method="POST">
        <label>
            Name:<input type="text" name="name" value="{{product.name}}"/>
        </label><br>
        <label>
            Description:<input type="text" name="description" value="{{product.description}}"/>
        </label><br>
        <label>
            Image url:<input type="text" name="img" value="{{product.img}}" />
        </label><br>
        <label>
            Price:<input type="text" name="price" value="{{product.price}}"/>
        </label><br>
        <label>
            Quantity:<input type="text" name="qty" value="{{product.qty}}" />
        </label><br>
            <input type="submit" value="Update"/>
    </form>
</body>
</html>