{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/products/{{ product._id }}?_method=PUT" method="POST">
    <fieldset>
      <legend>Edit {{ product.name }}</legend>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="enter product name"
          value="{{ product.name }}"
        />
      </label>
      <label>
        DESCRIPTION:<input
          type="text"
          name="description"
          placeholder="enter product description"
          value="{{ product.description }}"
        />
      </label>
      <label>
        IMG URL:<input
          type="text"
          name="img"
          placeholder="enter product IMG URL"
          value="{{ product.img }}"
        />
      </label>
      <label>
        PRICE:<input
          type="text"
          name="price"
          placeholder="enter product price"
          value="{{ product.price }}"
        />
      </label>
      <label>
        QTY:<input
          type="text"
          name="qty"
          placeholder="enter product quantity"
          value="{{ product.qty }}"
        />
      </label>
    </fieldset>
    <input type="submit" value="Edit {{ product.name }}" />
  </form>
</div>
{% endblock %}
