{% layout "layout.liquid" %} {% block content %}
<div>
    <a href="/products/new">
        <button>Add New Product</button><br>
    </a>
    {% for product in products %}
    <!-- <section> -->
        <!-- {{ product.name }}<br> -->
        <a href="/products/{{ product._id }}">
            <img src="{{ product.img }}" alt="{{ product.name }}">
        </a>
        <!-- Price: ${{ product. price }}<br> -->
    <!-- </section> -->
    {% endfor %}
</div>
{% endblock %}