<!-- we're serving block content in layout.liquid -->
<!-- so we need to inform all our blocks(files) -->
{% layout 'layout.liquid'%}
<!-- here we start our block content -->
{% block content %}
    <div >
        <h2 class="display-6">Shop</h2>
        <div class="row">
            {% for product in products %}
                <div class="card" style="width: 18rem;">
                    <!-- card header -> name of product -->
                    <!-- card body -> ready to eat as title, color as text-->
                    <h5 class="card-header">{{ product.name }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">
                        </h5>
                        <img src="{{ product.img }}" style="width: 200px; height: 180px"/>
                        <p class="card-text"> 
                        Price: {{ product.price }}
                        </p>
                        <a href="/products/{{ product.id }}" class="btn btn-info">
                            View {{ product.name }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}