
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <a href="/products/new"><button type="button">Add a product</button>
    {% for product in products %}
    <h3>Name: {{product.name}}</h3>
    <a href="/products/{{product.name}}"><img src="{{product.img}}">
    <h3>Price: {{product.price}}</h3>
    <h3>Quantity: {{product.qty}}</h3>
    {% endfor %}

</body>
</html> 