{% layout "layout.liquid" %} {% block content %}
      <div class="ind-product-show">
        <article>
          <h3 class="product-image-show">
            {{ product.name }}
            <img src="{{product. img}}" alt="Image of product">
          {{ product.description }} <br><br>
          Price $ {{product.price}} <br>
          Items Remaining: {{product.qty}}</h3>
            <div class="three-buttons">     
        <a href="/products/{{ product._id }}/edit"><button>Buy</button></a>
          <a href="/products/{{ product._id }}/edit"><button>Edit</button></a>
          <form action="/products/{{ product._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </div>
          </form>
          <a href="/products/"><button>Back to Products</button></a>
        </article>
      </div>
{% endblock %}
