{% layout "layout.liquid" %} {% block content %}
<div>
  <article>
    <div>
      <h2>
        {{ products.name }}
      </h2>

      <img src="{{ products.img }}" /><br />

      <h5>{{ products.description }}</h5>

      <h3>${{ products.price }}</h3>

      <h4></h4>
        {% if products.qty == 0 %} OUT OF STOCK {%else%}
        {{ products.qty }} remaining {% endif %}
      </h4>

      <!--buy button needs conditional and functionality-->

      <form action="/products/{{ products._id }}" method="POST">
        <input type="submit" value="BUY" />
      </form>

      <a href="/products/{{ products._id }}/edit"><button>Edit</button></a>
      <form action="/products/{{ products._id }}?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
      <a href="/products/"><button>Back to Main</button></a>
    </div>
  </article>
</div>
{% endblock %}
