{% layout "layout.liquid" %} {% block content %}
    <div>
        <article>
           <h1> {{product.name}}</h1>
            <label>
                <h4> NAME:</h4>
                    {{product.name}}
                </label>
                <label>
                    <h4> DESCRIPTION: </h4>
                     {{product.description}}
                </label>
                <label>
                  <h4>  Image: </h4>
                    <img src="{{product.img}}" >
                </label>
                <label>
                   <h4> Price: </h4>
                    ${{product.price}}
                </label>
                <label>
                 <h4> Quantity: </h4>
                    {{product.qty}}
                </label>
            <a href="/products/{{product._id}}/edit"><button>Edit {{product.name}}</button></a>
            <form action="/products/{{ product._id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
            <a href="/products/"><button>Back to Main</button></a>
        </article>
    </div>
{% endblock %}
