<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show</h1>
    
        <a href="/products/"><button type="button" class="btn btn-dark">All Products</button></a>
        {% for property in product%}
        <h3>{{property.name}}</h3>
        <img src="{{property.img}}" alt="{{property.name}} image" width="200px">
        <h6>{{property.description}}</h6>
        <h6>PRICE: ${{property.price}}</h6>
        {% if property.qty == 0 %}
            <h6 class="out-of-stock">Out of Stock</h6>
        {% else %}
            <h6>QUANTITY: {{property.qty}}</h6>
        {% endif %}
        {% endfor %}
    
</body>
</html>