{% layout "layout.liquid" %} {% block content %}
<div>
    <article>
        <h2>{{ searchResult.name }}</h2>
        <img id="showpageImage" src="{{searchResult.img}}" alt="Picture of {{searchResult.name}}"/>
        <h3 id="showpageH3">{{ searchResult.description }}</h3>
        <div class="buttonContainer">
        <a href="/products/{{ searchResult._id }}/edit"><button>Edit {{searchResult.name}}</button></a>
        <form action="/products/{{ searchResult._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
        <a href="/products/"><button>Back to Main</button></a>
        </div>
    </article>
</div>
{% endblock %}
