<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show</h1>
        <a href="/products/"><button type="button">Back</button></a>
        
        <h3>{{product.name}}</h3>
        <img src="{{product.img}}" alt="{{product.name}}">
        <h3> {{product.description}}</h3>
        <h3> Price: ${{product.price}}</h3>
        {% if product.qty == 0 %}
            <h3>Out of Stock</h3>
        {% else %}
            <h3> Quantity: {{product.qty}} </h3>
        {% endif %}
    <form action="/products/{{product._id}}/edit">
    <input type="submit" value="Edit">
    </form>
    <form action="/products/{{ product._id }}?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
        
    
</body>
</html>
